/*
Device Tree Overlay for Ondes Framboise
Enables SPI0 using spi-bcm2835 driver with additional CE2 on GPIO25
Compile with
  dtc -@ -I dts -O dtb -o spi0_cs2.dtb spi0_cs2.dts
then copy to /boot/overlays/
  sudo cp spi0_cs2.dtb /boot/overlays/

Reboot the Pi and /dev/spidev0.2 should be present in addition to
the preexisting spidev0.0 and spidev0.2
*/

/dts-v1/;
/plugin/;

/ {

  compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

  /* SPI0 */
  fragment@0 {
    target = <&gpio>;
    __overlay__ {
      spi0_pins: spi0_pins {
        brcm,pins = <7 8 9 10 11>;
        brcm,function = <4>; /* alt0 */
      };     
    };
  };

  fragment@1 {
    target = <&spi0>;
    __overlay__ {
      #address-cells = <1>;
      #size-cells = <0>;
      pinctrl-0 = <&spi0_pins &spi0_cs_pins>;
      status = "okay";
      cs-gpios = <0>, <0>, <&gpio 25 1>;

      /*The first two <0>s request that native CS's 0 and 1 are used
        (even though the driver will convert them to GPIO CS's),
        and GPIO 25 is used as active-low chip select 2. */

      spidev@0 {
        compatible = "spidev";
        reg = <0>;	/* CE0 */
        #address-cells = <1>;
        #size-cells = <0>;
        spi-max-frequency = <3000000>;
      };

      spidev@1 {
        compatible = "spidev";
        reg = <1>;	/* CE1 */
        #address-cells = <1>;
        #size-cells = <0>;
        spi-max-frequency = <3000000>;
      };

      spidev@2 {
        compatible = "spidev";
        reg = <2>;   /* CE2 */
        #address-cells = <1>;
        #size-cells = <0>;
        spi-max-frequency = <3000000>;
      };

    };
  };

  /*reserve the extra GPIO 25 so no other drivers can claim it + mark it as output */

  fragment@2 {
    target = <&gpio>;
    __overlay__ {
      spi0_cs_pins: spi0_cs_pins {
        brcm,pins = <25>;
        brcm,function = <1>; /* out */
      };
    };
  };

};
